.tarea-contenedor{
    width: 500px;
    min-height: 65px;
    background: linear-gradient(to right, #ff0099, #493240);
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

.texto-contenedor{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.tarea-icono{
    width: 25px;
    height: 25px;
    margin: 5px;
}

.icono{
    color: brown !important;
    font-size: 30px;
}

.tarea-contenedor.completada{
    background-color: darkorchid;
    text-decoration: line-through;
}

.tarea-contenedor:nth-child(3n + 1){
    background: linear-gradient(to right, #333333, #dd1818);
}

.tarea-contenedor:nth-child(3n + 2){
    background: linear-gradient(to right, hsla(0, 0%, 20%, 0.688), hsla(0, 80%, 48%, 0.645));
}

.tarea-contenedor:nth-child(3n + 3){
    background: linear-gradient(to right, hsla(0, 0%, 20%, 0.514), hsla(0, 80%, 48%, 0.495));
}